/* Hide mobile and tablet */

.mobile-nav {
    display: none;
}

.tablet-om-container, .tablet-ov-container, .tablet-wwd-container, .tablet-wwa-container {
    display: none;
}

.tablet-gallery { 
    display: none;
}

.burger {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* Desktop Home */

body {
    line-height: normal;
    background-color: #d9d9d9;
    text-align: center;
    font-size: 20px;
    font-family: Sahitya;
    margin: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    background-color: #f9e199;
    color: white;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.nav-link {
    display: flex;
    height: 130px;
    background: url(images/header1.png);
    text-align: center;
    width: 100%;
}

.nav-link ul {
    font-size: 30px;
    list-style-type: none;
    display: flex;
    text-decoration: none;
}

.nav-link li {
    margin: 0 50px;
    padding-top: 60px;
}

.nav-link a {
    text-decoration: none;
    font-family: 'Roboto Slab';
    font-weight: bold;
    color:#f9e199;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}

nav a:hover {
    color: #2a5077;
}

video {
    height: 300px;
    width: 50%;
    height: 600px;
    float: left;
    margin: 30px;
    border: 2px solid #953737;
    object-fit: cover;
}

.right { 
    margin: 30px 0 0 30px;
    padding-right: 30px;
    font-size: 14px;
    letter-spacing: 1.67px;
    line-height: 27.86px;
    text-shadow: 0px 2.2285311222076416px 2.23px rgba(0, 0, 0, 0.25);
    text-align: justify;
    color:#2a5077;
}

.did-you-know, .faqs {
    margin: 0;
    font-size: 30px;
    color:#f9e199; 
}

.did-you-know-container {
    letter-spacing: 14px;
    line-height: 58px;
    display: inline-block;
    height: 52px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    padding: 5px 30px;
    background-image: linear-gradient(to right, #953737, #721a1a);
    border-radius: 20px;
}

.dyk-description, .faqs-description {
    color: #2a5077;
    padding-left: 10px;
}

.faqs-container {
    letter-spacing: 14px;
    line-height: 58px;
    display: inline-block;
    height: 52px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    padding: 5px 30px;
    background-image: linear-gradient(to right, #953737, #721a1a);
    border-radius: 20px;
}

.copyright {
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%); 
    font-size: 18.67px;
    letter-spacing: 1.24px;
    font-family: 'Roboto Slab';
    text-align: center;
    text-shadow: 0.7px 0.7px 0 #000, 0 0.7px 0 #000, -0.7px 0 0 #000, 0 -0.7px 0 #000;
    color: #f9e199;
}

footer {
    position: relative;
    margin: 0; 
    padding-top: 10px;
    width: 1200px; 
    overflow: hidden; 
}

footer img {
    height: auto;
    width: 1200px;
    display: block;
}

/* ABOUT US */
/* -------------------------------------------------------------------------------------------------------------- */

.container::after {
    width: 100%;
    max-width: 1200px;
    background-color: #f9e199;
    color: white;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.who-we-are {
    position: absolute;
    letter-spacing: 14px;
    line-height: 58px;
    display: inline-block;
    height: 42px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    color:#f9e199;
}

.our-mission {
    position: absolute;
    letter-spacing: 14px;
    line-height: 58px;
    display: inline-block;
    height: 20px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    color:#f9e199;
}

.our-values {
    position: absolute;
    letter-spacing: 14px;
    line-height: 58px;
    display: inline-block;
    width: 456px;
    height: 20px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    color:#f9e199;
}

.what-we-do {
    position: absolute;
    letter-spacing: 14px;
    line-height: 58px;
    display: inline-block;
    width: 456px;
    height: 20px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    color:#f9e199;
}

.teamimage {
    max-width: 100%;
    height: auto;
}

.wwa-container, .omov-container, .wwd-container {
    background-image: linear-gradient(#953737, #721a1a);
    width: 30%;
    margin: 0 10px; 
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
}

.content-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0 20px 0;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
    color:#f9e199;
    text-shadow: 0.4px 0 0 #000, 0 0.4px 0 #000, -0.4px 0 0 #000, 0 -0.4px 0 #000;
}

h2.who-we-are { 
    left: 40px;
    top: 120px;
    font-size: 30px;
    color:#f9e199;
    text-shadow: 0.4px 0 0 #000, 0 0.4px 0 #000, -0.4px 0 0 #000, 0 -0.4px 0 #000;
}

h2.our-mission {
    left: 435px;
    top: 120px;
    font-size: 30px;
    color:#f9e199;
    text-shadow: 0.4px 0 0 #000, 0 0.4px 0 #000, -0.4px 0 0 #000, 0 -0.4px 0 #000;
}

h2.our-values {
    left: 380px;
    top: 330px;
    font-size: 30px;
    color:#f9e199;
    text-shadow: 0.4px 0 0 #000, 0 0.4px 0 #000, -0.4px 0 0 #000, 0 -0.4px 0 #000;
}

h2.what-we-do {
    left: 775px;
    top: 120px;
    font-size: 30px;
    color:#f9e199;
    text-shadow: 0.4px 0 0 #000, 0 0.4px 0 #000, -0.4px 0 0 #000, 0 -0.4px 0 #000;
}

ul {
    margin: 10px;
}

.wwd-container ul {
    margin-top: 70px;
    line-height: 30px;
}

.mission-list {
    list-style-type: none;
    padding-left: 0;
}

.mission-list li {
    background: url(images/checkbox.png) no-repeat left center;
    background-size: 16px 16px;
    padding-left: 25px;
    margin: 5px 0;
    text-shadow: 0px 2.23px 2.23px rgba(0, 0, 0, 0.25);
}

/* SCHEDULE */
/* -------------------------------------------------------------------------------------------------------------- */

.container2 {
    width: 100%;
    max-width: 1200px;
    background-color: #f9e199;
    color: white;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.image-gallery1, .image-gallery2, .image-gallery3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0; 
    flex-direction: column;
}

.image-gallery1 img, .image-gallery2 img, .image-gallery3 img {
    width: 350px;
    height: 350px;
    border: 2px solid #953737;
}

.gallery {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.image-gallery1 b, .image-gallery2 b, .image-gallery3 b {
    bottom: 10px;
    display: block;
    padding: 10px 0 10px 0;
    background-image: linear-gradient(to right, #953737, #721a1a);
    letter-spacing: 4px;
    font-family: 'Roboto Slab';
    color:#f9e199;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}

.hour-hint-text {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 75px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.timecontainer {
    align-self: stretch;
    position: relative;
    border-radius: 5.79px;
    background-image: linear-gradient(to right, #953737, #721a1a);
    height: 70px;
}

.minutes {
    width: 50px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.label {
    position: absolute;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    color:#f9e199;
}

.am {
    align-self: stretch;
    position: relative;
    background-image: linear-gradient(to right, #953737, #721a1a);
    height: 30.9px;
}

.pm {
    align-self: stretch;
    position: relative;
    height: 30.9px;
}

.am-pm {
    width: 40.3px;
    border-radius: 4px;
    background-color: #2a5077;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5px;
    font-size: 20px;
    color: #2a5077;
}

.time-input {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 89.9px;
    box-sizing: border-box;
    gap: 45px;
    font-family: Roboto;
    padding-top: 80px;
    align-items: center;
    bottom: 115px;
    color:#f9e199;
    text-shadow: 0.9px 0 0 #000, 0 0.9px 0 #000, -0.9px 0 0 #000, 0 -0.9px 0 #000;
}

.time-input1 {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 89.9px;
    box-sizing: border-box;
    gap: 45px;
    font-family: Roboto;
    bottom: 115px;
    color:#f9e199;
    text-shadow: 0.9px 0 0 #000, 0 0.9px 0 #000, -0.9px 0 0 #000, 0 -0.9px 0 #000;
}


.time-input2 {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 89.9px;
    box-sizing: border-box;
    gap: 45px;
    font-family: Roboto;
    bottom: 115px;
    color:#f9e199;
    text-shadow: 0.9px 0 0 #000, 0 0.9px 0 #000, -0.9px 0 0 #000, 0 -0.9px 0 #000;
}



/* --------------------------- */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* CONTACT US */
/* -------------------------------------------------------------------------------------------------------------- */

.container2::after {
    width: 100%;
    max-width: 1200px;
    background-color: #f9e199;
    color: white;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.lets-chat, .ready-to-soar{
    position: relative;
    font-size: 30px;
    letter-spacing: 12px;
    line-height: 30px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    width: auto;
    height: 40px;
    text-shadow: 0.9px 0 0 #000, 0 0.9px 0 #000, -0.9px 0 0 #000, 0 -0.9px 0 #000;
    color:#f9e199;
}

.upper {
position: relative;
background-image: linear-gradient(to right, #953737, #721a1a);
display: inline-block;
text-align: center;
width: 1200px;
height: 92px;
text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}

label { 
    display: block;
}

.form-container {
    width: 300px;
    height: 500px;
    padding-top: 50px;
    position: relative;
}

form { 
    position: relative;
}

::placeholder {
    position: absolute;
}

.map-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.map {
    position: absolute;
    width: 500px;
    height: 350px;
    top: 38%;
    left: 53%;
    border: 2px solid #953737;
}

.instagram { 
    position: absolute;
    top: 83.4%;
    right: 18.13%;
    bottom: 12.11%;
    left: 78.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.twitter {
    position: absolute;
    top: 83.4%;
    left: 70.82%;;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.facebook {
    position: absolute;
    top: 83.4%;
    left: 62.82%;;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.message {
    position: absolute;
    letter-spacing: 0.05em;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #d9d9d9;
    top: 220px;
    left: 2%;
}

#full-name, #email-address, #message {
    background-color: #d9d9d9;
}

textarea {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #000, #444) 1;
    border-radius: 4px;
    padding: 3px;
    outline: none; 
}

#full-name, #email-address {
    width: 427px;
    font-size: 12px;
    height: 39px;
}

#full-name { 
    position: absolute;  
    top: 70px;
    left: 58px;        
}

#email-address {
    position: absolute;
    top: 205px;
    left: 58px;
}

#message {
    position: absolute;
    left: 58px;
    top: 340px;
    width: 430px;
}

#fullname1, #email1, #message1 {
    background-image: linear-gradient(to right, #953737, #721a1a);
    color: #f9e199;
    border-radius: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    padding:  0 10px;
    position: relative;
}

#fullname1 {
    left: 30px;
}
#email1 {
    top: 140px;
    left: -120px;
}

input.button {
  color: #f9e199;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px;
  background-image: linear-gradient(to right, #953737, #721a1a);
  top: 400px;
  left: 200px;
  position: relative;
} 

/* ---------------------------- */

.map {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.map:hover {
    opacity: 0.7;
}

/* Modal Styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.image-gallery1 img, 
.image-gallery2 img, 
.image-gallery3 img {
    opacity: 1.0;
}

.image-gallery1 img:hover, 
.image-gallery2 img:hover, 
.image-gallery3 img:hover {
    opacity: 0.5;
}


/* MOBILE VIEWPORT */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
    .nav-link {
        display: none;
        background-color: #9fc1cb;
    }

    .mobile-nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0; 
    }
    
    .mobile-nav ul li {
        margin: 10px 0;
    }

    .nav-links {
        display: flex;
        flex-direction: column; 
        padding: 0 20px;
    }

    .burger {
        display: block;
        background-color: #9fc1cb;
        color: #f9e199;
    }

    .mobile-nav {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        position: absolute; 
        top: 50px; 
        left: 0;
        right: 0;
        background-image: linear-gradient( #953737, #721a1a);
        border-bottom: 3px solid #9fc1cb; 
        z-index: 1000; 
        padding: 10px;
        color:#f9e199;
        text-decoration: none;
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        color: #f9e199; 
        text-decoration: none; 
        letter-spacing: 2px;
    }
    
    .nav-links a:hover {
        color: #2a5077; 
    }

    video {
        width: 280px;
        height: 300px;
    }
    
    .did-you-know, .faqs {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .dyk-description, .subfaqs2, .subfaqs21 { 
        font-size: 12px;
    }

    footer { 
        width: 100%;
        position: relative;
        margin-top: auto;
        padding-top: 10px;
        overflow: hidden; 
    }

    .copyright {
        font-size: 12px;
    }

    .logo img {
        width: 120px;
        height: 120px;
        margin-left: auto;
    }

    /* ABOUT US */
    /* ----------------------------------------------------------------------------------------------------- */

    .redcontainerfortablet {
        background-image: linear-gradient(to right, #953737, #721a1a);
        padding: 30px;
        margin: 20px 0;
        position: relative;
        height: 870px;
    }

    h2.who-we-are, h2.our-mission, h2.our-values, h2.what-we-do {
        position: absolute;
        left: 50%; 
        transform: translateX(-50%); 
        text-align: center; 
        font-size: 20px;
        color: #f9e199;
        text-shadow: 0.4px 0 0 #000, 0 0.4px 0 #000, -0.4px 0 0 #000, 0 -0.4px 0 #000;
        white-space: nowrap;
        text-overflow: ellipsis; 
    }

    h2.who-we-are { 
        top: 10px;
    }

    h2.our-mission {
        top: 210px;
    }

    h2.our-values {
        top: 430px;
    }

    h2.what-we-do {
        top: 630px;
    }

    .tablet-om-container, .tablet-ov-container, .tablet-wwd-container, .tablet-wwa-container {
        display: block;
    }

    .description {
        font-size: 12px;
        line-height: 30px;
        margin: 0;
    } 

    .teamimage {
        width: 90px;
        height: auto;
        display: block;
        margin: 1px auto;
        object-fit: cover;
    }

    .tablet-wwa-laman {
        display: flex;
        top: 20px;
        position: relative;
    }

    .omov-container, .wwd-container, .wwa-container {
        display: none;
    }

    .tablet-om-container .mission-list {
        top: 265px;
        left: 0;
        right: 0;
    }

    .tablet-ov-container .mission-list {
        top: 490px;
        left: 0;
        right: 0;
    }

    .tablet-wwd-container .mission-list{
        top: 690px;
        left: 0;
        right: 0;
    }

    .mission-list {
        position: absolute;
        list-style-type: none;
        margin-top: 20px;
        padding-left: 0;
        line-height: 20px;
        font-size: 12px;
    }
    
    .mission-list li {
        background: url(images/checkbox.png) no-repeat left center;
        background-size: 16px 16px;
        text-shadow: 0px 2.23px 2.23px rgba(0, 0, 0, 0.25);
        display: flex;
        padding-left: 25px;
    }
    
   .wwd-container ul {
        margin-top: 70px;
        line-height: 30px;
    }

    /*  CONTACT US */
    /* ----------------------------------------------------------------------------------------------------- */

    .container2 {
        display: flex;
        flex-direction: column;
        height: 950px; 
    }

    .form-container {
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 100%; 
        max-width: 400px; 
        margin: 0 auto; 
    }

    #email1 {
        left: -10px;
        top: 130px;
    }

    #message1 {
        top: 250px;
        left: -95px;
    }

    #fullname1 {
        left: 25%;  
    }

    #fullname1, #email1, #message1 { 
        font-size: 20px;
    }

    input.button {
        margin-top: 10px; 
        width: 80%; 
        max-width: 65px; 
        color:#f9e199;
        left: 2px;
        top: 385px;
    }

    #full-name, #email-address, #message {
        width: 80%;
        max-width: 220px;
        margin: 10px 0;
    }

    #full-name {
        top:50px;
    }

    #email-address { 
        top:170px;
    }

    #message {
        top: 290px;
    }

    .map {
        width: 90%;
        top: 570px;
        max-width: 215px; 
        max-height: 200px;
        object-fit: covers;
        display: block;
        left: 18%;
    }
    
    .social-icons {
        display: flex; 
        justify-content: center; 
    }

    .social-icons img {
        margin: 0 -100px;
    }

    .instagram  {
        left: 170px;
    }

    .twitter {
        left: 255px;
    }

    .facebook {
        left: 335px;
    }
    .upper,.lets-chat, .ready-to-soar {
        display: none;
    }

    /* SCHEDULE */
    /* ----------------------------------------------------------------------------------------------------- */

    .time-input, .minutes, .timecontainer, .hour-hint-text, .am-pm, .am, .pm, .label, .gallery{
        display: none;
    }

    .tablet-gallery {
        margin-top: 35px;
        display: block;
        font-size: 17px;
    }
    
    .image-gallery1 b, .image-gallery2 b, .image-gallery3 b {
        bottom: 10px;
        display: block;
        padding: 10px 0 10px 5px;
        background-color: #9fc1cb;
        letter-spacing: 4px;
        font-family: 'Roboto Slab';
        color:#f9e199;
        letter-spacing: 10px;
        text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    }

    .image-gallery1 img, .image-gallery2 img, .image-gallery3 img {
        width: 350px;
        height: 160px;
        border: none;
        border-top: 2px solid #9fc1cb;
        line-height: 10px;
    }


}




/* TABLET VIEWPORT */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .mobile-nav {
        display: none;
    }

    .nav-link li {
        margin: 0 50px;
        padding-top: 30px;
    }

    video { 
        width: 710px;
        height: 250px;
    }
    .did-you-know, .faqs {
        margin: 0;
        font-size: 25px;
    }

    .dyk-description, .faqs-description {
        margin-top: 10px;
    }

    .did-you-know-container, .faqs-container {
        flex-direction: column;
        align-items: center; 
        text-align: center;
        display: inline-block;
        padding: 2px 30px; 
        background-image: linear-gradient(to right, #953737, #721a1a);
        margin: 0 auto;
    }

    .did-you-know-container {
        margin: 20px 130px;
    }

    .faqs-container {
        margin: 20px 250px;
    }
    /* ABOUT US */
    /* ----------------------------------------------------------------------------------------------------- */
    .nav-link {
        display: flex;
        height: 80px;
        background: url(images/header1.png);
        text-align: center;
        width: 100%;
    }
    .nav-link ul {
        font-size: 20px;
        list-style-type: none;
        display: flex;
        text-decoration: none;
    }
    
    .nav-link li {
        margin: 0 30px;
    }
    
    .nav-link a {
        text-decoration: none;
        font-family: 'Roboto Slab';
        font-weight: bold;
        color:#f9e199;
        text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    }

    .logo { 
        height: 60px;
        width: auto;
    }

    .redcontainerfortablet {
        background-image: linear-gradient(to right, #953737, #721a1a);
        padding: 30px;
        margin: 20px 0;
        position: relative;
        height: 850px;
    }

    h2.who-we-are, h2.our-mission, h2.our-values, h2.what-we-do {
        position: absolute;
        left: 50%; 
        transform: translateX(-50%); 
        text-align: center; 
        font-size: 30px;
        color: #f9e199;
        text-shadow: 0.4px 0 0 #000, 0 0.4px 0 #000, -0.4px 0 0 #000, 0 -0.4px 0 #000
    }

    h2.who-we-are { 
        top: 10px;
    }

    h2.our-mission {
        top: 200px;
    }

    h2.our-values {
        top: 420px;
    }

    h2.what-we-do {
        top: 620px;
    }

    .tablet-om-container, .tablet-ov-container, .tablet-wwd-container, .tablet-wwa-container {
        display: block;
    }

    .description {
        font-size: 20px;
        line-height: 30px;
    } 

    .teamimage {
        width: 180px;
        height: auto;
        height: auto;
        display: block;
        margin: 20px auto;
    }

    .tablet-wwa-laman {
        display: flex;
        top: 20px;
        position: relative;
    }

    .omov-container, .wwd-container, .wwa-container {
        display: none;
    }

    .tablet-om-container .mission-list {
        top: 255px;
        left: 0;
        right: 0;
    }

    .tablet-ov-container .mission-list {
        top: 480px;
        left: 0;
        right: 0;
    }

    .tablet-wwd-container .mission-list{
        top: 680px;
        left: 0;
        right: 0;
    }

    .mission-list {
        position: absolute;
        list-style-type: none;
        margin-top: 20px;
        padding-left: 0;
        line-height: 30px;
        font-size: 20px;
    }
    
    .mission-list li {
        background: url(images/checkbox.png) no-repeat left center;
        background-size: 16px 16px;
        text-shadow: 0px 2.23px 2.23px rgba(0, 0, 0, 0.25);
        display: flex;
        padding-left: 25px;
    }
    
    footer {
        position: relative;
        margin-top: auto;
        padding-top: 10px;
        width: 100%;
        overflow: hidden; 
    }
    
    footer img {
        height: auto;
        width: 1200px;
        display: block;
    }
    
    .copyright {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); 
        font-size: 18.67px;
        letter-spacing: 1.24px;
        font-family: 'Roboto Slab';
        text-align: center;
        text-shadow: 0.4px 0 0 #000, 0 0.4px 0 #000, -0.4px 0 0 #000, 0 -0.4px 0 #000;
        color: #f9e199;
    }    

    .wwd-container ul {
        margin-top: 70px;
        line-height: 30px;
    }

    /* CONTACT US */
    /* ----------------------------------------------------------------------------------------------------- */

    .container2 {
        display: flex;
        flex-direction: column;
        min-height: 1100px;
    }
    #fullname1, #email1, #message1 { 
        font-size: 40px;
    }

    .form-container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%;
    }

    #full-name, #email-address, #message {
        width: 80%;
        max-width: 500px;
        margin: 10px 0;
    }

    .rightside-container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin-top: 20px; 
    }

    #message1 {
        left: -285px;
        top: 270px;
    }

    #email1 {
        left: -165px;
    }

    .map {
        width: 90%;
        left: 140px;
        top: 710px;
        max-width: 500px; 
        max-height: 200px;
        margin: 20px auto; 
        display: block;
    }

    .social-icons {
        display: flex; 
        justify-content: center; 
        margin-top: auto; 

    }

    .social-icons img {
        margin: 30px 20px 90px -10px; 
    }

    .upper {
        position: relative;
        background-image: linear-gradient( #953737, #721a1a);
        display: inline-block;
        text-align: center;
        width: 790px;
        height: 100px;
        text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    }

    input.button {
        margin-top: 10px; 
        width: 80%; 
        max-width: 65px; 
        color:#f9e199;
        align-self: center;
        top: 390px;
    
    }

    /* SCHEDULE */
    /* ----------------------------------------------------------------------------------------------------- */

    .time-input, .minutes, .timecontainer, .hour-hint-text, .am-pm, .am, .pm, .label, .gallery{
        display: none;
    }

    .tablet-gallery {
        display: block;
        font-size: 30px;
    }
    
    .image-gallery1 b, .image-gallery2 b, .image-gallery3 b {
        bottom: 10px;
        display: block;
        padding: 10px 0 10px 5px;
        background-color: #9fc1cb;
        letter-spacing: 4px;
        font-family: 'Roboto Slab';
        color:#f9e199;
        letter-spacing: 10px;
        text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    }

    .image-gallery1 img, .image-gallery2 img, .image-gallery3 img {
        width: 800px;
        border: none;
        border-top: 2px solid #9fc1cb;
        line-height: 20px;
    }
}

/* PRINT QUERY */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media print {

    .nav-link, footer {
        display: none;
    }

    video {
        width: 630px;
        height: 300px;
        border: 2px solid #000;
    }

    .did-you-know, .faqs, .dyk-description, .subfaqs2, .subfaqs21, .container li {
        color: #000;
    }

    .wwa-container p {
        margin-top: 78px;
    }

    h2.who-we-are {
        left: 10px;
        font-size: 15px;
        top: 50px;
        color: #000;
    }

    h2.our-mission {
        font-size: 13px;
        left: 250px;
        top: 30px;
        color: #000;
    }


    h2.our-values {
        font-size: 13px;
        left: 150px;
        top: 300px;
        color: #000;
    }

    h2.what-we-do {
        left: 380px;
        top: 50px;
        font-size: 13px;
        color: #000;
    }


    .map, .instagram, .twitter, .facebook {
        display: none;
    }

    body, p {
        color: black;
    }

    .ready-to-soar, .lets-chat {
        color: #000;
        text-align: left;
        display: block;
    }

    #fullname1, #email1, #message1, input.button {
        color:#000;
    }

    .image-gallery1 img, .image-gallery2 img, .image-gallery3 img {
        max-width: 100%; 
        height: auto; 
    }

    .container2 {
        margin: auto;
        padding: 0;
    }

    .gallery{
        display: block; 
        page-break-inside: avoid;
    }

    body {
        font-size: 12px;
    }

.image-gallery1 b, .image-gallery2 b, .image-gallery3 b {
        display: block; 
        margin: 5px 0; 
        text-align: left;
        color: #000;
    }

    .minutes, .timecontainer, .am, .pm, .am-pm{
        display: none;
    }


}